*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
 /* przeglądarka ma domyślmy fs:16px, teraz ustawiamy fs=10px px bo 16x0,625=10. Będziemy uzywać jednostek rem, uzywajac ich (lub %) czciaka na urzadzeniach mobilnych dostosuje sie automatucznie  */

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

.hero-shadow{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: -1;
}

.orange-color{
    color: rgb(255,102,0);
}

/* NAWIGACJA */
.navbar-brand{
    font-size: 2.2rem;  
    font-weight: bold;
}

nav .navbar-nav, .fa-bars{
    font-size: 1.8rem;
    text-transform: uppercase;
}

nav .fa-bars{
    padding: 1rem 2rem;
}
/* taki padding na ikone menu ułatwia trafienie w nie przy klikaniu */


/* HEADER */

header{
  position: relative;  
  height: 60rem;
  background-image: url(img/header.jpg);
  background-position: center;
  background-size: cover;
  z-index: 0;
}

header .btn{
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
}

.header-text{
    font-size: 2.2rem;
}

/* ABOUT US  */

.about-boxes h3{
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: uppercase;
}

.about-icon{
    font-size: 3rem;
}

#aboutus .btn-link{
    font-size: 1.8rem;
}